@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="主键id" underline="true"/>
                            <#input id="categoryId" name="商品类别id" underline="true"/>
                            <#input id="parentId" name="所属分类" underline="true"/>
                            <#input id="categoryName" name="商品类别名称" underline="true"/>
                            <#input id="status" name="状态" underline="true"/>
                            <#input id="sort" name="排序"/>
                </div>

                <div class="col-sm-6">
                            <#input id="createdBy" name="创建人ID" underline="true"/>
                            <#input id="createdDate" name="创建时间" underline="true"/>
                            <#input id="lastUpdatedBy" name="最后更新人ID" underline="true"/>
                            <#input id="lastUpdatedDate" name="修改时间" underline="true"/>
                            <#input id="dataStatus" name="数据状态0:已删除,1正常" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductCategoryInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductCategoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/product/productCategory/productCategory_info.js"></script>
@}
