@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="id" name="id" underline="true"/>
                            <#input id="weChatId" name="微信id" underline="true"/>
                            <#input id="weChatNo" name="微信号" underline="true"/>
                            <#input id="phoneNo" name="手机号" underline="true"/>
                            <#input id="createdBy" name="创建人ID"/>
                </div>

                <div class="col-sm-6">
                            <#input id="createdDate" name="创建时间" underline="true"/>
                            <#input id="lastUpdatedBy" name="最后更新人ID" underline="true"/>
                            <#input id="lastUpdatedDate" name="修改时间" underline="true"/>
                            <#input id="dataStatus" name="数据状态0:已删除,1正常" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="UserInfoInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="UserInfoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/wxUser/userInfo/userInfo_info.js"></script>
@}
