@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="productId" name="主键id" underline="true"/>
                            <#input id="productName" name="商品名称" underline="true"/>
                            <#input id="description" name="商品描述" underline="true"/>
                            <#input id="categoryId" name="商品类别id" underline="true"/>
                            <#input id="paramterAttr" name="商品属性" underline="true"/>
                            <#input id="paramterJson" name="商品参数" underline="true"/>
                            <#input id="status" name="上架状态"/>
                </div>

                <div class="col-sm-6">
                            <#input id="isPush" name="是否首推0:否,1:是" underline="true"/>
                            <#input id="orderBy" name="排序" underline="true"/>
                            <#input id="createdBy" name="创建人id" underline="true"/>
                            <#input id="createdDate" name="创建时间" underline="true"/>
                            <#input id="lastUpdatedBy" name="最后更新人员id" underline="true"/>
                            <#input id="lastUpdateDate" name="修改时间" underline="true"/>
                            <#input id="dataStatus" name="数据状态0:已删除,1正常" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/product/product/product_info.js"></script>
@}
