<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.ProductMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Product">
		<id column="product_id" property="productId" />
		<result column="product_name" property="productName" />
		<result column="description" property="description" />
		<result column="category_id" property="categoryId" />
		<result column="paramter_attr" property="paramterAttr" />
		<result column="paramter_json" property="paramterJson" />
		<result column="status" property="status" />
		<result column="is_push" property="isPush" />
		<result column="order_by" property="orderBy" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="last_updated_by" property="lastUpdatedBy" />
		<result column="last_update_date" property="lastUpdateDate" />
		<result column="data_status" property="dataStatus" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        product_id AS productId, product_name AS productName, description, category_id AS categoryId, paramter_attr AS paramterAttr, paramter_json AS paramterJson, status, is_push AS isPush, order_by AS orderBy, created_by AS createdBy, created_date AS createdDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate, data_status AS dataStatus
    </sql>

</mapper>
