<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.UploadFileMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.UploadFile">
		<id column="id" property="id" />
		<result column="file_uid" property="fileUid" />
		<result column="user_id" property="userId" />
		<result column="file_type" property="fileType" />
		<result column="file_path" property="filePath" />
		<result column="upload_time" property="uploadTime" />
		<result column="project" property="project" />
		<result column="created_by" property="createdBy" />
		<result column="created_date" property="createdDate" />
		<result column="last_updated_by" property="lastUpdatedBy" />
		<result column="last_update_date" property="lastUpdateDate" />
		<result column="data_status" property="dataStatus" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, file_uid AS fileUid, user_id AS userId, file_type AS fileType, file_path AS filePath, upload_time AS uploadTime, project, created_by AS createdBy, created_date AS createdDate, last_updated_by AS lastUpdatedBy, last_update_date AS lastUpdateDate, data_status AS dataStatus
    </sql>

</mapper>
