<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.UserOrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.UserOrder">
		<id column="id" property="id" />
		<result column="orderNo" property="orderNo" />
		<result column="weChatId" property="weChatId" />
		<result column="productId" property="productId" />
		<result column="orderMoney" property="orderMoney" />
		<result column="orderNum" property="orderNum" />
		<result column="orderStatus" property="orderStatus" />
		<result column="isEnable" property="isEnable" />
		<result column="createdBy" property="createdBy" />
		<result column="createdDate" property="createdDate" />
		<result column="lastUpdatedBy" property="lastUpdatedBy" />
		<result column="lastUpdatedDate" property="lastUpdatedDate" />
		<result column="dataStatus" property="dataStatus" />
		<result column="addressId" property="addressId" />
		<collection property="productPictures" column="productId" select="com.stylefeng.guns.common.persistence.dao.ProductPictureMapper.selectById"/>
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no AS orderNo, we_chat_id AS weChatId, product_id AS productId, order_money AS orderMoney, order_num AS orderNum, order_status AS orderStatus, is_enable AS isEnable, created_by AS createdBy, created_date AS createdDate, last_updated_by AS lastUpdatedBy, last_updated_date AS lastUpdatedDate, data_status AS dataStatus, address_id AS addressId
    </sql>
	<select id="selectByWechatId" resultMap="BaseResultMap">
		select <include refid="Base_Column_List"/> from wk_user_order where we_chat_id = #{wechatId} and order_status=#{orderStatus}
	</select>
</mapper>
