<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.stylefeng.guns.common.persistence.dao.WbUserOrderDetailMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap"
		type="com.stylefeng.guns.common.persistence.model.WbUserOrderDetail">
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="we_chat_id" property="weChatId" />
		<result column="product_id" property="productId" />
		<result column="order_money" property="orderMoney" />
		<result column="order_num" property="orderNum" />
		<result column="order_status" property="orderStatus" />
		<result column="is_enable" property="isEnable" />
		<result column="created_date" property="createdDate" />
		<result column="last_updated_date" property="lastUpdatedDate" />


		<collection property="wkProduct" column="product_id"
			ofType="com.stylefeng.guns.common.persistence.model.WKProduct">
			<id property="productId" column="product_id" />
			<result property="productName" column="product_name" />
		</collection>
		
		<collection property="userAddressDetail" column="id"
			ofType="com.stylefeng.guns.common.persistence.model.UserAddressDetail">
			<id property="id" column="id" />
			<result property="address" column="address" />
			<result property="phoneNo" column="phone_no" />
			<result property="userName" column="user_name" />
		</collection>
		
		<collection property="wkProductInfo" column="id"
			ofType="com.stylefeng.guns.common.persistence.model.WKProductInfo">
			<id property="id" column="id" />
			<result property="colour" column="colour" />
			<result property="dimens" column="dimens" />	
		</collection>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, order_no AS orderNo, we_chat_id AS weChatId, product_id
		AS productId,
		order_money AS orderMoney, order_num AS orderNum,
		order_status AS
		orderStatus, is_enable AS isEnable, created_date AS
		createdDate,
		last_updated_date AS lastUpdatedDate
	</sql>

	<select id="selectOrderDetailLits" resultMap="BaseResultMap">
		select
		od.id,
		od.order_no,
		pd.product_name,
		ad.address,
		ad.phone_no,
		ad.user_name,
		od.order_money,
		di.colour,
		di.dimens,
		od.order_num,
		od.order_status,
		od.created_date
		from wk_user_order od left JOIN wk_product pd on od.product_id =
		pd.product_id
		left JOIN wk_user_address ad on od.address_id = ad.id
		left JOIN wk_product_info di on di.product_id = od.product_id
		ORDER BY (od.order_status = '2'),od.created_date DESC
	</select>
	
	<select id="selectUpdateOrderInfo" resultMap="BaseResultMap">
		select
		od.id,
		od.order_no,
		pd.product_name,
		ad.address,
		ad.phone_no,
		ad.user_name,
		od.order_money,
		di.colour,
		di.dimens,
		od.order_num,
		od.order_status,
		od.created_date
		from wk_user_order od left JOIN wk_product pd on od.product_id =
		pd.product_id
		left JOIN wk_user_address ad on od.address_id = ad.id
		left JOIN wk_product_info di on di.product_id = od.product_id
		WHERE od.id = #{id}
		ORDER BY (od.order_status = '2'),od.created_date DESC
	</select>
	
	<update id="updateOrderById" parameterType="com.stylefeng.guns.common.persistence.model.WbUserOrderDetail">
		update wk_user_order set order_status = #{orderStatus},last_updated_date = now() where id = #{id} 
	</update>

</mapper>
